*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
  }

body{
    position: relative;
    background-color: var(--page-background);

  }

section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: -13;
 }

 section .square{
     position: absolute;
     top: 0;
     width: 100%;
     height: 50vh;
     background-color: var(--blue);
     z-index: -14;
 }

section .title {
    text-align: center;
    margin: 50px 0px ;
    color: white;
    font-family: 'Open Sans';
}

section .title h1{
    font-size: 1.8rem;
    font-weight: 700;
}

section .pricing_table{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

section .pricing_table .card{
    width: 280px;
    height: 400px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    margin: 20px;
    background-color: var(--page-background);
    font-family: 'Open Sans';
} 

section .pricing_table .card .hover{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 2rem;
    padding: 1.2rem;
    border-radius: 8px 8px 0 0;
}

section .pricing_table .card:hover .hover{
    background-color: var(--yellow);
    transition: .25s ease;
    color: var(--blue);
}

section .pricing_table .card .hover button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--blue);
    font-family: 'Open Sans';
    color: white;

}


section .pricing_table .card .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 1rem;
}

section .pricing_table .card .price:before{
    position: absolute;
    content: " ";
    bottom: -5px;
    width: 80%;
    height: 1px;
    background-color: var(--gray);
}


section .pricing_table .card .price > p:first-child{
    font-weight: 700;
    font-size: 1rem;
}

section .pricing_table .card .price > p:last-child{
    text-align: left;
    font-size: .8rem;
    padding-left: 1.4rem;
    color: var(--gray);

}

section .pricing_table .card .price > p span:first-child{
    font-size: 1.7rem;
}

section .pricing_table .card .price > p span.grey{
    font-weight: 500;
    color: var(--gray);
}

section .pricing_table .card .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .pricing_table .card:first-child .infos button{
    margin-top: 3.8rem;
}


section .pricing_table .card:nth-child(2) .infos button {
    margin-top: .5rem;
}

section .pricing_table .card .infos button{
    border: 1px solid var(--blue);
    border-radius: 8px;
    margin: 1.5rem 20px 0px 20px;
    padding: 10px;
    background: transparent;
    font-weight: 700;
    color: var(--blue);
    font-size: 1.2rem;
}

section .pricing_table .card .infos button:hover{
    background: var(--blue);
    transition: .25s ease;
    color: white;
}

section .pricing_table .card ul{
    font-size: .8rem;
    text-align: left;
    padding-left: 1.4rem;
}
